<html>


<head>
<title>CollegeList</title>
<style>
.title{margin:0; padding:8px 14px; background-color: #91a38b;   }
body{background-color:#a9bda2; }
.text{margin-left:16px;}
.sub-text{margin-left:4px; }


input[type=text]{width:50%; margin:4px; padding:10px;}
input[type=submit]{width:50%;}
div{

}
div {
width:50%;
margin:auto;
 border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>

<h1 class="title"> College List </h1>

<h2 style="text-align:center; background-color: #91a38b;">Register</h2>
<div class="center">
<form>
<label for="fname" class="sub-text">First Name</label>
<br>
<input type="text" id="fname" name="fname">
<br>
<label for="lname" class="sub-text">Last Name</label>
<br>
<input type="text" id="lname" name="lname">
<br>
<input type="submit" value="Register">
</form>
</div>



</body>
</html>

