<html>


<head>
<title>Room Finder</title>
<style>
.title{margin:0; padding:8px 14px; background-color: #91a38b;   }
body{background-color:#a9bda2; }
.text{margin-left:16px;}
.sub-text{margin-left:4px; }


input[type=text]{width:100%; margin:4px; padding:10px;}
input[type=password]{width:100%; margin:4px; padding:10px;}
input[type=submit]{width:30%; background-color:#6f7871;border: none;padding:10px; font-size:16px;margin:5px; border-radius:4px; }

div {width:30%; margin:auto; border-radius: 5px; background-color: #f2f2f2; padding: 20px;}

</style>
</head>
<body>

<h1 class="title"> Room Finder </h1>

<h2 style="text-align:center; background-color: #91a38b;">Login</h2>
{% if result %}
<p style="text-align:center;">{{result}}</p>
{%endif%}
<div class="center">
<form action="/doLogin" method="post">
<label for="email" class="sub-text">Email</label>
<br>
<input type="text" id="email" name="email">
<br>
<label for="password" class="sub-text">Password</label>
<br>

<input type="password" id="password" name="password">
<br>
<center>
<input type="submit" value="Login">
</center>
</form>
</div>



</body>
</html>

